*{
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}
a {
    text-decoration: none;
    color: black;
}
p {
    font-size: 21px;
    line-height: 32px;
    font-weight: 300;
    font-style: normal;
}
h6 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
}
h5 {
    font-size: 36px;
    line-height: 56px;
    font-weight: 700;
}
h4 {
    font-size: 24px;
    line-height: 56px;
    font-weight: 700;
}
h3 {
    font-size: 22px;
    line-height: 48px;
    font-weight: 700;        
}
h2 {
    font-size: 21px;
    line-height: 32px;
    font-weight: 700;
}
button {
    width: 200px;
    height: 56px;
    background: #458FF6;
    border: none;
    border-radius: 55px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
nav {
    /* background: grey; */
    line-height: 50px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}
    figure {
        width: 7%;
        display: flex;
    }
        .logo {
            width: 41px;
            height: 41px;
            border: none;
            border-radius: 50%;
            background: #458FF6;
            color: white;
            font-weight: 700;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    .logo-name {
        width: 30%;
        font-size: 24px;
        font-weight: 700;
    }
    .nav-menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
        .nav-menu-list {
            list-style: none;
            padding: 0 1%;
            font-weight: 500;
        }
section {
    padding: 5% 5% 2% 5%;
    background: lightgrey;
}
    .section1 {
        display: flex;
        /* background: red; */
    }
        .section1-left {
            width: 75%;
            /* background: lightgreen; */
            margin-right: 1%;
        }
            .section1-left h6 {
                padding: 20% 15% 2% 0;
            }
            .section1-left p {
                padding: 2% 15% 2% 0;
            }
            .section1-left button {
                margin: 5% 0;
            }
        .section1-right {
            width: 100%;
            margin-left: 1%;
            margin-bottom: 5%;
            /* background: lightblue; */

        }
            .section1-right img {
                max-width: 693px;
                max-height: 598px;
                width: 100%;
            }
    .section2 {
        text-align: center;
        /* background: mediumpurple; */
        margin: 0 3%;
    }
        .section2 h5{
            padding: 4% 0 1% 0;
        }
        .section2 hr {
            width: 5%;
            margin: 1% auto;
            border: 1px solid black;
        }
        .section2 p {
            font-size: 18px;
            line-height: 30px;
            padding: 1% 9% 5% 9%;
        }
        .sec2-row1, .sec2-row2 {
            display: flex;
            width: 100%;
            height: auto;
            /* background: plum; */
        }
            .column {
                width: 100%;
                background: white;
                text-align: left;
                margin: 2% 2%;
                padding: 2% 2% 2% 3%;
                border-radius: 20px;        
            }
                .column img {
                    width: 70px;
                    height: 90px;
                    padding-bottom: 2%;
                }
                .column h4 {
                    padding: 1% 0;
                }
                .column p {
                    padding: 1% 5% 1% 0;
                    font-size: 16px;
                    line-height: 28px;
                }
        .section2 button {
            background: #ffff;
            border: 1px solid #458FF6;
            color: #458FF6;
            margin: 2% auto;
        }
    .section3 {
        display: flex;
        margin-top: 5%;
        /* background:yellow; */
    }
        .section3-left {
                /* background: lightgreen; */
                width: 100%;
                margin-left: -1%;
                margin-bottom: 5%;
        }
            .section3-left img {
                max-width: 650px;
                max-height: 477px;
                width: 100%;
            }
        .section3-right {
            width: 100%;
            /* background: lightblue; */
            margin-left: 1%;
        }
            .section3-right h5 {
                padding: 12% 24% 2% 10%;
            }
            .section3-right hr {
                width: 10%;
                margin: 2% 0 2% 10%;
                border: 1px solid black;
            }
            .section3-right p {
                font-size: 18px;
                line-height: 30px;
                padding: 2% 24% 2% 10%;
            }
            .section3-right button {
                margin: 2% 24% 5% 10%;
            }
    .section4 {
        display: flex;
        margin-top: 5%;
        /* background: red; */
    }
        .section4-left {
            width: 75%;
            padding-left: 6%;
            /* background: lightgreen; */
            margin-right: 1%;
        }
            .section4-left h5 {
                padding: 12% 24% 2% 10%;
            }
            hr {
                width: 10%;
                margin: 2% 0 2% 10%;
                border: 1px solid black;
            }
            .section4-left p {
                padding: 2% 24% 2% 10%;
                font-size: 18px;
                line-height: 30px;
            }
            .section4-left button {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 2% 24% 5% 10%;
                padding: 0 8%;
                background: #ffff;
                border: 1px solid #458FF6;
                color: #458FF6;
            }
        .section4-right {
            width: 100%;
            margin-left: 1%;
            margin-bottom: 5%;
            /* background: lightblue; */
        }
            .section4-right img {
                max-width: 665px;
                max-height: 434px;
                width: 100%;
            }
    .section5 {
        margin: 5% 15%;
        background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
        border-radius: 24px;
    }
        .section5 h5 {
            text-align: center;
            padding: 5% 0 2% 0;
        }
        hr {
            margin: 1% auto;
        }
        .sec5-row1 {
            display: flex;
            width: 100%;
            height: auto;
            /* background: plum; */
        }
            .sec5-row1 .column1 {
                margin: 2% 0 5% 10%;
            }
                .sec5-row1 .column1 img {
                    width: 100px;
                    height: 100px;
                    border: 3px solid #ffff;
                    border-radius: 50%;
                    transform: rotate(16deg);
                }
            .sec5-row1 .column2 {
                width: 120%;
                margin: 2% 1%;
            }
            .sec5-row1 .column3 {
                margin: 2% 5% 5% 1%;
            }
    .section6 {
        text-align: center;
        /* background: mediumpurple; */
        margin: 0 5%;
    }
        .section6 h5{
            padding: 4% 0 1% 0;
        }
        .section6 hr {
            width: 5%;
            margin: 1% auto;
            border: 1px solid black;
        }
        .sec6-row1 {
            display: flex;
            width: 100%;
            height: auto;
            /* background: plum; */
        }
            .sec6-row1 .column {
                width: 100%;
                background: white;
                text-align: left;
                margin: 2% 1%;
                padding: 0%;
                border-radius: 20px;        
            }
                .sec6-row1 .column img {
                    width: 100%;
                    height: auto;
                    padding-bottom: 2%;
                    border-radius: 20px 20px 0px 0px;
                }
                .sec6-row1 .column h2 {
                    padding: 1% 0;
                    padding: 4% 10%;
                }
                .sec6-row1 .column p {
                    padding: 1% 12% 5% 12%;
                    font-size: 16px;
                    line-height: 28px;
                }
    .section6 button {
            background: #ffff;
            border: 1px solid #458FF6;
            color: #458FF6;
            margin: 4% auto;
    }
footer {
    display: flex;
    padding: 5% 10%;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    color: #ffff;
}
    .footer-column1 {
        width: 100%;
        padding: 0 5%;
    }
        footer figure {
            width: 100%;
        }
            footer figure .logo {
                width: 45px;
                height: auto;
                background: #ffff;
                color: #5A98F2;
            }
            footer figure .logo-name {
                width: auto;
                padding: 2% 2%;
            }
    .footer-column {
        width: 40%;
        padding: 2% 2%;
    }
    footer div {
        padding: 2% 0;
    }

        
            


        
